.hero-image-post-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/one.jpg");
}

.hero-image-post-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/two.png");
}

.hero-image-post-three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/three.jpg");
}

.hero-image-post-four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/four.jpg");
}

.hero-image-post-five {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/five.jpg");
}

.hero-image-post-six {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/six.jpg");
}

.hero-image-post-seven {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/seven.jpg");
}

.hero-image-post-eight {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/eight.jpg");
}

.hero-image-post-nine {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/nine.webp");
}

.hero-image-post-teen {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/teen.jpeg");
}

.hero-image-post-elleven {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/eleven.webp");
}

.hero-image-post-twelve {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/twelve.jpeg");
}

.hero-image-post-thirteen {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/thirteen.jpg");
}

.hero-image-post-fourteen {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/fourteen.avif");
}

.hero-image-post-fifteen {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/fifteen.jpeg");
}

.hero-image-post-sixteen {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/sixteen.jpg");
}

.hero-image-post-seventeen {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/seventeen.jpg");
}

.hero-image-post-eighteen {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/eighteen.jpg");
}

.hero-image-post-ninteen {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/ninteen.jpg");
}

.hero-image-post-twenty {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/twenty.jpg");
}

.hero-image-post-twenty-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/twenty-one.jpg");
}

.hero-image-post-twenty-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/twenty-two.jpg");
}

.hero-image-post-twenty-three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/twenty-three.jpg");
}

.hero-image-post-twenty-four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/twenty-four.jpg");
}

.hero-image-post-twenty-five {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/twenty-five.jpeg");
}

.hero-image-post-twenty-six {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/twnety-six.jpeg");
}

.hero-image-post-twenty-seven {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/twenty-seven.jpg");
}

.hero-image-post-twenty-eight {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/twenty-eight.jpeg");
}

.hero-image-post-twenty-nine {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/twenty-nine.webp");
}

.hero-image-post-thirty {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/posts/thirty.jpeg");
}

.hero-image-post-one, .hero-image-post-two, .hero-image-post-three, .hero-image-post-four, .hero-image-post-five, .hero-image-post-six, .hero-image-post-seven, .hero-image-post-eight, .hero-image-post-nine, .hero-image-post-teen, .hero-image-post-elleven, .hero-image-post-twelve, .hero-image-post-thirteen, .hero-image-post-fourteen, .hero-image-post-fifteen, .hero-image-post-sixteen, .hero-image-post-seventeen, .hero-image-post-eighteen, .hero-image-post-ninteen, .hero-image-post-twenty, .hero-image-post-twenty-one, .hero-image-post-twenty-two, .hero-image-post-twenty-three, .hero-image-post-twenty-four, .hero-image-post-twenty-five, .hero-image-post-twenty-six, .hero-image-post-twenty-seven, .hero-image-post-twenty-eight, .hero-image-post-twenty-nine, .hero-image-post-thirty {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 400px;
    height: 200px;
    margin-left: 70px;
    border-radius: 20px;
}

.flex-container {
    display: flex;
    margin-top: 50px;
}

.hero-text {
    text-align: center;
    color: #ffffff;
    font-family: "Agdasima", sans-serif;
}

.hero-text h1 {
    font-size: 30px;
    font-family: "Agdasima", sans-serif;
}

.post-button a {
    text-decoration: none;
    color: red;
    font-size: 25px;
}

.post-button {
    background-color: rgba(0, 0, 0, 0.5);
    width: 250px;
    border-radius: 20px;
    border: 2px solid #ff0000;
    margin-left: 80px;
    margin-top: 60px;
}

.hero-image-post-twenty-eight, .hero-image-post-twenty-nine, .hero-image-post-thirty {
    margin-bottom: 100px;
}

.all-post-page-title-shit {
    text-align: center;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    width: 65%;
    height: 300px;
    margin-left: 18%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
}

.all-post-page-title-shit h1 {
    font-size: 35px;
    padding-top: 30px;
}

.all-post-page-title-shit p {
    text-transform: capitalize;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
}

.send-evidence-button a {
    text-decoration: none;
    color: red;
}

.send-evidence-button {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 2px solid #ff0000;
    margin-left: 34%;
    margin-bottom: 40px;
    margin-top: 60px;
}

.full-story-of-event {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    margin-left: 5%;
    text-align: center;
    border-radius: 20px;
    margin-top: 6%;
    margin-bottom: 10%;
}

.full-story-of-event h1 {
    font-size: 35px;
    padding-top: 20px;
    text-transform: capitalize;
}

.full-story-of-event h2 {
    font-size: 30px;
    padding-top: 20px;
    text-transform: capitalize;
}

.full-story-of-event p {
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}