body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/index-photo.jpg');
}

html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  body {
    /*min-height: 100%; /* Use if set on container, not body */
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  header.page-header, footer.page-footer {
    flex-grow: 0; /* 0. Only takes the place it needs */
    flex-shrink: 0;
    color: #fafafa;
    background-color: #000;
    padding: 10px;
  }
  
  main.page-body {
    flex-grow: 1; /* 1. Let main take all available space */
    padding: 0 10px;
    color: black;
  }

  #header-thing, .icon-location-header, .buttons-index-container {
    display: flex;
  }

  .logo-location img {
    width: 220px;
    height: 110px;
    border-radius: 20px;
  }

  .icon-location-header {
    margin-left: 65%;
    margin-top: 25px;
  }

  .about-icon, .contact-icon, .evidence-icon {
    margin-left: 10%;
  }

  .all-posts-icon img {
    width: 40px;
    height: 40px;
  }

  .about-icon img {
    width: 55px;
    height: 55px;
    margin-top: -8px;
  }

  .contact-icon img {
    width: 50px;
    height: 50px;
    margin-top: -8px;
  }

  .evidence-icon img {
    width: 50px;
    height: 45px;
    margin-top: -5px;
  }

  .main-text-index {
    width: 900px;
    text-align: center;
    margin-left: 300px;
    margin-top: 150px;
    color: #ffffff;
  }

  .index-button {
    background-color: #818181;
    border-radius: 20px;
    border: 2px solid #ffffff;
    width: 200px;
    text-align: center;
    margin-top: 100px;
  }

 .index-button a {
    text-decoration: none;
    color: #ffffff;
  }

  #about-button {
    margin-left: 180px;
  }

  #evidence-button, #all-posts-button, #contact-button {
    margin-left: 100px;
  }