/*MAX WITH 1300PX*/
@media (max-width: 1300px) {
    .main-text-index {
        margin-left: 200px;
    }
    
    #about-button {
        margin-left: 130px;
    }
    
    #evidence-button, #all-posts-button, #contact-button {
        margin-left: 60px;
    } 
}

/*MAX WITH 1200PX*/
@media (max-width: 1200px) {
    .main-text-index {
        margin-left: 150px;
    }
    
    #about-button {
        margin-left: 120px;
    }
      
    #evidence-button, #all-posts-button, #contact-button {
        margin-left: 50px;
    } 
}

/*MAX WITH 1120PX*/
@media (max-width: 1120px) {
    .main-text-index {
        margin-left: 100px;
    }
    
    #about-button {
        margin-left: 150px;
    }
    
    .index-button {
        width: 150px;
    }
    
    .index-button a {
        font-size: 25px;
    }
}

/*MAX WITH 1050PX*/
@media (max-width: 1050px) {
    .main-text-index p {
        font-size: 30px;
    }
    
    .main-text-index {
        width: 800px;
    }
    
    #about-button {
        margin-left: 120px;
    }
}

/*MAX WITH 950PX*/
@media (max-width: 950px) {
    .main-text-index {
        width: 700px;
    }
    
   .index-button {
        width: 130px;
    }
    
    .index-button a {
        font-size: 20px;
    }
}

/*MAX WITH 850PX*/
@media (max-width: 850px) {
    .main-text-index {
        width: 600px;
    }
    
    .main-text-index p {
        font-size: 25px;
    }
    
    #about-button {
        margin-left: 80px;
    }
    
    #evidence-button, #all-posts-button, #contact-button {
        margin-left: 30px;
    } 
}

/*MAX WITH 750PX*/
@media (max-width: 750px) {
    .main-text-index {
        width: 500px;
    }
    
    #about-button {
        margin-left: 50px;
    }
    
    #evidence-button, #all-posts-button, #contact-button {
        margin-left: 20px;
    } 
}

/*MAX WITH 680PX*/
@media (max-width: 680px) {
    .buttons-index-container {
        flex-direction: column;
    }
    
    #about-button, #evidence-button, #all-posts-button, #contact-button {
        margin-left: 200px;
    }
    
    #evidence-button, #all-posts-button, #contact-button {
        margin-top: -150px;
    }
    
    .main-text-index {
        width: 450px;
    }
    
    .index-button {
        width: 250px;
    }
}